#header
    

    &.burger

        $logo-width: 100px
        $menu-btn-width: 80px
        $responsive-tablet: 1000px
        $responsive-phone: 680px

        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 20px
        position: relative

        .logo
            width: $logo-width

        .btn.display, .btn.close
            display: none

        nav
            ul
                display: flex
                align-items: center
                justify-content: flex-end
                padding: 0

                li
                    list-style: none
                    margin: 0 5px
                    padding: 10px

                    a
                        display: inline-block
                        padding: 10px
                        color: $color-c
                        border-bottom: 2px solid $color-d

                        &:hover:not(.btn)
                            color: $color-a
                            border-bottom: 2px solid $color-a

        @media screen and (max-width: $responsive-tablet)
            flex-direction: column
            margin: 0

        @media screen and (max-width: $responsive-phone)

            flex-direction: row
            justify-content: space-between
            padding: 0 5%

            // Hide nav
            &.clossed
                nav
                    right: -250px

            .btn.cta
                display: none

            .btn.display, .btn.close
                display: inline-block
                width: $menu-btn-width
                height: auto
                fill: $color-a

                svg
                    width: 100%
                    height: auto

            nav 
                position: fixed
                top: 0
                right: 0
                padding: 0 50px
                padding-top: 30px
                height: 200vh
                z-index: 2
                background-color: $color-d
                box-shadow: 5px 2px 15px -1px rgba(black,0.35)

                ul
                    flex-direction: column
                    margin: 0
                    padding: 0

                    li
                        margin: 0 
                        padding: 10px 0

                        &:first-child
                            padding: 0

                        a
                            padding: 10px 0
                            font-size: 20px

                            &:first-child
                                padding: 0