#hero

    position: relative
    background-color: $color-a

    .content-wrapper
        padding-top: 100px
        padding-bottom: 350px
        position: relative

        .content
            width: 50%

        h1
            font-size: 45px
            margin-bottom: 10px

        p
            color: $color-d
            margin-top: 0
            display: block
            width: 100%

        span.decorator
            content: ""
            width: 60px
            height: 8px
            background-color: $color-b
            display: inline-block

        .contact
            position: absolute
            bottom: 0
            left: 0
            padding: 30px 40px
            background-color: $color-d
            z-index: 3
            margin-bottom: 100px
            box-shadow: 0px 0px 67px -45px rgba(0,0,0,0.75)

            h2
                margin-top: 0

            form, fieldset
                border: none
                padding: 0
                margin: 0

                input:not(.btn.cta)
                    border: none
                    background: none
                    border: 2px solid rgba($gray-color, 0.1)
                    padding: 12px 20px
                    transition-duration: $transition-duration
                    margin-right: 10px

                    &[name="message"]
                        width: 250px

                    &:focus
                        border: 2px solid rgba($gray-color, 0.3)

    .image
        position: absolute
        background-image: url("../imgs/hero.png")
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        top: 0
        right: 0
        width: 50%
        height: 100%
        z-index: 2

    @media screen and (max-width: 1050px)
        .image
            position: initial
            height: 100vw
            width: 100%
            background-position-y: top

        .content-wrapper

            padding-bottom: 250px
            
            .content
                width: 100%
                text-align: center

            .contact
                margin-bottom: 0
                width: calc(100% - 80px)
                
                form
                    fieldset

                        input:not(.btn.cta)
                            width: calc(33% - 104px) !important
                            margin: 10px

                        input.btn.cta
                            margin-top: 10px

    @media screen and (max-width: 700px)

        .content-wrapper
            padding-bottom: 440px
            
            .contact

                form
                    fieldset
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-direction: column

                        input:not(.btn.cta)
                            width: 100% !important

    @media screen and (max-width: 450px)

        .content-wrapper
            h1
                font-size: 30px