#values
    margin-top: 50px
    margin-bottom: 50px
    padding: 50px 0
    background-color: $color-a

    .content
        text-align: center

        h2, h3
            color: $color-b

        h2
            margin-top: 0
             
        .cards
            display: grid
            grid-template-columns: repeat(4, 1fr)

            .card
                margin: 20px 0
                border-right: 1px solid $color-b

                &:last-child
                    border: none

                img
                    width: 100px

                
    @media screen and (max-width: 840px)
        .content
            .cards
                grid-template-columns: repeat(2, 1fr)
                
                .card
                    border: none

    @media screen and (max-width: 400px)
        .content
            .cards
                grid-template-columns: repeat(1, 1fr)

        