html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Red Hat Text", sans-serif;
  font-size: 18px;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p.small {
  font-size: 14px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #0133af;
}

.regular-width {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1250px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Rubik", sans-serif;
  color: #feba19;
}

h2 {
  font-size: 34px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.shadow {
  box-shadow: 4px 4px 30px -15px #0133af;
}

.trans {
  transition-duration: 0.3s;
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.video-link span.text {
  margin-left: 20px;
  border-bottom: 2px solid rgba(1, 51, 175, 0);
  padding: 8px 10px;
}
.video-link:hover span.text {
  border-bottom: 2px solid #0133af;
}

.logo {
  filter: grayscale(0);
  opacity: 1;
  transition-duration: 0.3s;
}
.logo:hover {
  opacity: 0.8;
  filter: grayscale(0.4);
}

.btn {
  display: inline-block;
  transition-duration: 0.3s;
  background: none;
  border: none;
  padding: 15px 30px;
}
.btn.cta {
  background: linear-gradient(90deg, #00288b 0%, #0031ad 62%, #0f41be 100%);
  color: #ffffff;
  box-shadow: 0px 6px 26px -7px rgba(1, 51, 175, 0.3);
}
.btn.cta:hover {
  box-shadow: 0px 6px 26px -2px rgba(1, 51, 175, 0.5);
  transform: translateY(-5px);
}
.btn.cta:active {
  box-shadow: 5px 5px 5px 0px rgba(53, 53, 53, 0.3), inset 4px 4px 15px 0px rgba(53, 53, 53, 0.3), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.btn.cta.yellow {
  background: #feba19;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
}
.btn.cta.yellow:hover {
  box-shadow: 0px 6px 26px -2px rgba(254, 186, 25, 0.5);
  transform: translateY(-5px);
}
.btn.bordered {
  background: #0133af;
  color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0);
}
.btn.bordered:hover {
  box-shadow: none;
  transform: none;
  border: 3px solid white;
  background: rgba(1, 51, 175, 0);
}
.btn.bordered:active {
  box-shadow: none;
}
.btn.circle {
  background: linear-gradient(90deg, #00288b 0%, #0031ad 62%, #0f41be 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.btn.circle svg {
  fill: white;
  width: 40%;
  height: 40%;
  padding-left: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #0133af;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

#header.burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header.burger .logo {
  width: 100px;
}
#header.burger .btn.display, #header.burger .btn.close {
  display: none;
}
#header.burger nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
#header.burger nav ul li {
  list-style: none;
  margin: 0 5px;
  padding: 10px;
}
#header.burger nav ul li a {
  display: inline-block;
  padding: 10px;
  color: #353535;
  border-bottom: 4px solid #ffffff;
}
#header.burger nav ul li a:hover:not(.btn) {
  color: #0133af;
  border-bottom: 4px solid #feba19;
}
@media screen and (max-width: 1100px) {
  #header.burger {
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 770px) {
  #header.burger {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 0px;
  }
  #header.burger.clossed nav {
    right: -350px;
  }
  #header.burger .btn.cta {
    display: none;
  }
  #header.burger .btn.display, #header.burger .btn.close {
    display: inline-block;
    height: auto;
    fill: #0133af;
  }
  #header.burger .btn.display svg, #header.burger .btn.close svg {
    width: 50px;
    height: 50px;
  }
  #header.burger .btn.display {
    padding-right: 0;
  }
  #header.burger nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 50px;
    padding-top: 30px;
    height: 200vh;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 5px 2px 15px -1px rgba(0, 0, 0, 0.35);
  }
  #header.burger nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #header.burger nav ul li {
    margin: 0;
    padding: 10px 0;
  }
  #header.burger nav ul li:first-child {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header.burger nav ul li a {
    padding: 10px 0;
    font-size: 20px;
  }
  #header.burger nav ul li a:first-child {
    padding: 0;
  }
}

#hero {
  position: relative;
  background-color: #0133af;
}
#hero .content-wrapper {
  padding-top: 100px;
  padding-bottom: 350px;
  position: relative;
}
#hero .content-wrapper .content {
  width: 50%;
}
#hero .content-wrapper h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
#hero .content-wrapper p {
  color: #ffffff;
  margin-top: 0;
  display: block;
  width: 100%;
}
#hero .content-wrapper span.decorator {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #feba19;
  display: inline-block;
}
#hero .content-wrapper .contact {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
  background-color: #ffffff;
  z-index: 3;
  margin-bottom: 100px;
  box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0.75);
}
#hero .content-wrapper .contact h2 {
  margin-top: 0;
}
#hero .content-wrapper .contact form, #hero .content-wrapper .contact fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
#hero .content-wrapper .contact form input:not(.btn.cta), #hero .content-wrapper .contact fieldset input:not(.btn.cta) {
  border: none;
  background: none;
  border: 2px solid rgba(53, 53, 53, 0.1);
  padding: 12px 20px;
  transition-duration: 0.3s;
  margin-right: 10px;
}
#hero .content-wrapper .contact form input:not(.btn.cta)[name=message], #hero .content-wrapper .contact fieldset input:not(.btn.cta)[name=message] {
  width: 250px;
}
#hero .content-wrapper .contact form input:not(.btn.cta):focus, #hero .content-wrapper .contact fieldset input:not(.btn.cta):focus {
  border: 2px solid rgba(53, 53, 53, 0.3);
}
#hero .image {
  position: absolute;
  background-image: url("../imgs/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
@media screen and (max-width: 1050px) {
  #hero .image {
    position: initial;
    height: 100vw;
    width: 100%;
    background-position-y: top;
  }
  #hero .content-wrapper {
    padding-bottom: 250px;
  }
  #hero .content-wrapper .content {
    width: 100%;
    text-align: center;
  }
  #hero .content-wrapper .contact {
    margin-bottom: 0;
    width: calc(100% - 80px);
  }
  #hero .content-wrapper .contact form fieldset input:not(.btn.cta) {
    width: calc(33% - 104px) !important;
    margin: 10px;
  }
  #hero .content-wrapper .contact form fieldset input.btn.cta {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  #hero .content-wrapper {
    padding-bottom: 440px;
  }
  #hero .content-wrapper .contact form fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #hero .content-wrapper .contact form fieldset input:not(.btn.cta) {
    width: 100% !important;
  }
}
@media screen and (max-width: 450px) {
  #hero .content-wrapper h1 {
    font-size: 30px;
  }
}

#about {
  padding: 50px 0;
}
#about .cards {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
#about .cards .card {
  text-align: center;
  width: calc(100% - 40px);
  padding: 30px 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  box-shadow: 0px 0px 67px -45px rgba(0, 0, 0, 0);
}
#about .cards .card img {
  width: 150px;
  height: 150px;
  fill: #ffffff;
}
#about .cards .card h3 {
  color: #ffffff;
  margin: 10px 0;
}
#about .cards .card:nth-child(1), #about .cards .card:nth-child(3) {
  background-color: #0133af;
}
#about .cards .card:nth-child(2) {
  background-color: #feba19;
}
#about .cards .card:nth-child(4) {
  background-color: rgba(53, 53, 53, 0.3);
}
#about .cards .card:nth-child(4) h3 {
  color: #0133af;
}
@media screen and (max-width: 850px) {
  #about .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  #about .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

#speciality {
  padding: 50px 0;
}
#speciality .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#speciality .cards .card {
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(0deg, #111111 0%, #222222 35%, #3c3c3c 100%);
}
#speciality .cards .card img {
  width: 100%;
  height: auto;
}
#speciality .cards .card h3 {
  color: #ffffff;
}
@media screen and (max-width: 750px) {
  #speciality .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

#values {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 0;
  background-color: #0133af;
}
#values .content {
  text-align: center;
}
#values .content h2, #values .content h3 {
  color: #feba19;
}
#values .content h2 {
  margin-top: 0;
}
#values .content .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#values .content .cards .card {
  margin: 20px 0;
  border-right: 1px solid #feba19;
}
#values .content .cards .card:last-child {
  border: none;
}
#values .content .cards .card img {
  width: 150px;
  border-radius: 50%;
}

#ctas {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#ctas .card {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ctas .card img {
  width: 45%;
  height: auto;
}
#ctas .card .text {
  width: 45%;
}
#ctas .card a {
  font-size: 22px;
  color: #feba19;
  font-weight: bold;
}
#ctas .card a:hover {
  text-decoration: underline;
}

#footer {
  margin-top: 150px;
  padding-bottom: 20px;
  background-color: #353535;
  position: relative;
}
#footer .contact-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: linear-gradient(90deg, #00288b 0%, #0031ad 62%, #0f41be 100%);
  box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.75);
}
#footer .contact-card h2 {
  color: #ffffff;
}
#footer .contact-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
#footer .contact-card a:hover {
  transform: translateY(-15px);
}
#footer .contact-card a svg {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  margin: 20px;
}
#footer .contact-card a.whatsapp {
  height: 100px;
}
#footer .contact-card a.whatsapp img {
  height: 100%;
}
#footer .widgets {
  padding-top: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
}
#footer .widgets a {
  color: #ffffff;
}
#footer .widgets .socials {
  width: 350px;
  text-align: center;
}
#footer .widgets .socials .logo {
  width: 100px;
  height: auto;
}
#footer .widgets .socials .icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .widgets .socials .icons a:hover {
  opacity: 0.6;
}
#footer .widgets .socials .icons a svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
  margin: 0 10px;
}
#footer .widgets .menu {
  width: 600px;
}
#footer .widgets .menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
#footer .widgets .menu ul li {
  margin: 0 auto;
  list-style: none;
  padding: 10px 0;
  text-align: left;
}
#footer .widgets .menu ul li a {
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
#footer .widgets .menu ul li a:hover {
  border-bottom: 2px solid #ffffff;
}
#footer small {
  font-size: 10px;
  text-align: center;
  width: 100%;
  display: block;
  color: #ffffff;
  margin-top: 50px;
}
#footer small a {
  font-weight: bold;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
